.x-mask.splashscreen {
    background-color: white;
    opacity: 1;
}
.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
    font-size: 16px;
    font-weight: bold;
    padding: 30px 5px 5px 5px;
    border: none;
    background-color: transparent;
    background-position: top center;
}
.x-message-box .x-window-body .x-box-inner {
    min-height: 110px !important;
}
.x-splash-icon {
    /*background-image: url('../images/logo.png') !important;*/
    margin-top: -30px;
    margin-bottom: 15px;
    height: 100px;
}
.key {
    background-image:url('../icons/key.png') !important;
}
.cancel {
    background-image:url('../icons/cancel.png') !important;
}
.key-go {
    background-image:url('../icons/key_go.png') !important;
}
